{
  "compact": true,
  "comments": false,
  "plugins": [
    "syntax-async-functions",
    "syntax-object-rest-spread",
    "transform-es2015-modules-commonjs",
    "transform-async-to-generator",
    "transform-object-rest-spread",
    "transform-strict-mode"
  ]
}
